.checkoutCart{
    display: flex;
    flex-direction: column-reverse;
}

.checkoutCart__yourCart{
    height: 60px;
    background-color: #f0c14b;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    margin: 10px 0;
    padding: 20px;
  }

  .checkoutCart__total{
    height: fit-content;
    text-align: center;
    background-color:#f3f3f3;
    margin: 10px 0;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid lightgray;
  }

  .checkoutCart__total button{
      margin-top: 15px;
      height: 30px;
      background-color: #f0c14b;
      border: 1px solid;
      border-color: #a88734 #9c7e31 #846a29;
      border-radius: 2px;
      outline: none;
  }

@media only screen and (min-width: 450px){
    .checkoutCart{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 10px;
    }
}
@media only screen and (min-width: 800px){
    .checkoutCart__items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .checkoutCart__yourCart{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: -1;
      }
}