.product h2{
    padding: 20px;
}


@media only screen and (min-width: 600px){
    .product__gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto;
        gap: 10px;
        padding: 10px;
    }
}

@media only screen and (min-width: 1000px){
    .product__gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        padding: 20px;
    }
}